body{
    background-color: black;
    color: white;
}

.content{
    display:flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.div_selena1{
    background-color: aqua;
    text-align: center;
}

.div_selena2{
    background-color: lightcoral;
    text-align: center;
}

.div_selena3{
    background-color: lightgreen;
}

.div_selena1, .div_selena2, .div_selena3{
    text-align: center;
    margin-top: 20px;
    max-height: max-content;
    max-width: 200px;
    color: black;
    border: solid white;
    /* height: 400px; */
    /* overflow-y: auto; */
}

.pic_text{
    text-align: justify;
    background-color: black;
    color: white;
    border: solid black;
    padding: 5px;
    height: 150px;
    overflow-y: auto;
}

.pic_text::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
    #selena2, #selena3{
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 760px) {
    #selena1, #selena3{
        display: none;
    }
}

@media screen and (min-width: 761px) {
    #selena1, #selena2{
        display: none;
    }
}

@media screen and (orientation:landscape){
    .orientation{
        border: solid white;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        padding: 5px;
        column-gap: 10px;
    }

    #selena11, #selena12, #selena13{
        max-height: 200px;
    }
}

@media screen and (orientation:portrait){
    body{
        background-color: darkgray;
    }

    .orientation{
        margin-top: 50px;
        display:flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        border: solid white;
        align-items: center;
        justify-content: center;
    }

    #selena11, #selena12, #selena13{
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 10px; */
        width: 200px;
    }
}